@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD

:root {
=======
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.leaflet-container {
  height: 100vh;
  width: 100%;
  z-index: 0;
  
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url(../Fonts/Roboto-Bold.ttf);
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url(../Fonts/Roboto-Regular.ttf);
}

/* :root {
  --foreground-rgb: 0, 0, 0;
>>>>>>> mmllamazares
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

* {
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

<<<<<<< HEAD
.leaflet-container {
  height: 100vh;
  width: 100%;
}

.leaflet-control {
  user-select: none;
}
=======
>>>>>>> mmllamazares
